.installMetamask {
	position: absolute;
	top: 3%;
	left: 10%;
	animation: expand 200ms 1 forwards linear;
	transform-origin: left top;
	width: 15rem;
	height: 12rem;
	background-image: url(../../assets/images/comic/comicBubble.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.comicButton {
	position: absolute;
	height: 30px;
	top: 10px;
	left: 10px;
	border-radius: 50px;
	border: none;
	background-color: #f7971e;
	font-weight: bold;
	color: var(--secondary-text);
	width: 100px;
	cursor: pointer;
	box-shadow: 3px 6px 0px -2px rgb(117, 116, 116);
}
.comicButton :active {
	box-shadow: none;
}
.contWrapper {
	width: 80%;
	height: 80%;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.contWrapper > p {
	font-size: 300;
	text-align: center;
	font-family: "Permanent Marker", cursive;
	max-width: 1rem;
}
.metamask {
	width: 2rem;
	height: auto;
	display: none;
}
.animatedBtn0 {
	animation: btn0 1 5s forwards;
}
/* .animatedBtn0:first-child {
	animation: rockLounch 1 5s linear;
} */
.animatedBtn1 {
	background-color: aqua;
}

@keyframes expand {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes btn0 {
	from {
		transform: rotate(0deg);
	}
	20% {
		opacity: 1;
		box-shadow: 2px 0px 10px rgb(230, 62, 62);
		transform: rotate(90deg) translateX(0);
	}
	30% {
		opacity: 1;
		background: linear-gradient(
			90deg,
			rgba(255, 0, 0, 1) 0%,
			rgba(139, 0, 0, 1) 5%,
			rgba(247, 151, 30, 1) 40%,
			rgba(247, 151, 30, 1) 89%
		);
	}
	40% {
		box-shadow: 200px 0px 10px rgb(230, 62, 62);
		opacity: 1;
		transform: rotate(90deg) translateX(-500%);
	}
	60% {
		box-shadow: 5px 0px 10px rgb(230, 62, 62);
		opacity: 1;
		transform: rotate(180deg) translateX(-1000%);
	}
	70% {
		box-shadow: 1000px 0px 10px 0 1000px rgb(230, 62, 62);
	}
	80% {
		box-shadow: 400px 0px 10px rgb(230, 62, 62);
		opacity: 1;
		transform: rotate(180deg) translateX(-2000%);
	}
	90% {
		opacity: 1;
		transform: rotate(180deg) translateX(-2000%);
	}
	95% {
		opacity: 0;
		transform: rotate(180deg) translateX(-2000%);
	}
	100% {
		opacity: 1;
		transform: rotate(0) translateX(0);
	}
}
@keyframes rickLounch {
	from {
		position: 0;
	}
	to {
		position: -100%;
	}
}
