.memberActive .img {
	transform: rotateY(90deg);
}

.memberActive div {
	z-index: 2;
	transform: scale(180%);
}
.member,
.member * {
	transition: transform 200ms linear;
}
@keyframes team-image {
	from {
		transform: rotateY(0) scale(100%);
		display: block;
	}
	to {
		transform: rotateY(-90deg);
		display: none;
	}
}
